/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: #2f6886;
	color: #122d4a;
/*    border-bottom: 2px solid #313244; */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
	background-color: #cba6f7;
}

/** ********** Battery ********** **/
#battery {
	background-color: #1a4b6c; /** 6c9aac **/
	color: #cdd6f4;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #e74c3c;
    color: #fbfbfb;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-color: #6c9aac;
	color: #fbfbfb;
}

/** ****** CPU/RAM/HDD ****** **/
#custom-cpuramhdd {
	background-color: #1a4b6c;
	color: #cdd6f4;
}

/** ********** CPU ********** **/
#cpu {
	background-color: #1a4b6c; /** e74c3c **/
	color: #cdd6f4;
}

/** ********** Memory ********** **/
#memory {
	background-color: #1a4b6c;
	color: #cdd6f4;
}

/** ********** Disk ********** **/
#disk {
	background-color: #1a4b6c;
	color: #cdd6f4;
}

/** ********** Tray ********** **/
#tray {
	background-color: #a5bbb6; /** cdd6f4 **/
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd, #mpd.disconnected, #mod.stopped, #mpd.playing, #mpd.paused {
	color: #1a4b6c;
}

#mpd {
	background-color: #a5bbb6; /** 94e2d5 **/
}

#mpd.disconnected {
	background-color: #a5bbb6; /** f38ba8 **/
}

#mpd.stopped {
	background-color: #a5bbb6; /** f5c2e7 **/
}

#mpd.playing {
	background-color: #a5bbb6; /** 74c7ec **/
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: #6c9aac; /** 9b59b6 **/
	color: #fbfbfb;
}

#pulseaudio.bluetooth {
	background-color: #f5c2e7;
}
#pulseaudio.muted {
	background-color: #1a4b6c; /** 313244 **/
	color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
	background-color: #1a4b6c; /** 5dade2 **/
	color: #cdd6f4;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power, #custom-weather, #custom-updater {
	border-radius: 2px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: #122d4a; /** f5c2e7 **/
	color: #fbfbfb;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	background-color: #122d4a; /** f38ba8 **/
	color: #fbfbfb;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}

#custom-updater {
	background-color: #1a4b6c; /** e6ed7b **/
	color: #cdd6f4;
	margin-right: 6px;
	padding: 2px 6px;
	font-size: 12px;
}

#custom-weather {
	background-color: #cba6f7;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 12px;
}

/** Common style **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#custom-cpuramhdd,
#network {
	border-radius: 2px;
	margin: 6px 0px;
	padding: 2px 8px;
}
